* {
    margin: 0;
    font-family: "montserrat";
}
body {
    margin: 0;

}
@font-face {
    font-family: "montserrat";
    src: url(fonts/monserrat.ttf);
}
.main-div {
    background-image: url(images/bg-mobile.jpg);
    height: 1000px;
}
p {
    color: white;
}
.header-money {
    font-size: 24px;
}
.header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}
.figure-money {
    display: flex;

}
.header-nickname {
    font-size: 24px;
}