* {
    margin: 0;
    font-family: "montserrat";
}
@font-face {
    font-family: "montserrat";
    src: url(fonts/montserrat.ttf);
}
body {
    margin: 0;
}

@media (max-height: 850px) {
    .vamp-img {
        height: 350px;
        width: 200px;
    }
    .hero {
        margin-top: 3em !important;
    }
    .play-menu {
        margin-top: 3em !important;
    }
    .main-menu {
        margin-top: 3em !important;
    }
}

@media (max-height: 740px) {
    .vamp-img {
        height: 300px;
        width: 180px;
    }
    .hero {
        margin-top: 1.8em !important;
    }
    .play-menu {
        margin-top: 0.8em !important;
    }
    .main-menu {
        margin-top: 1.8em !important;
    }
}



@font-face {
    font-family: "montserrat";
    src: url(fonts/monserrat.ttf);
}
.main-div {
    background-image: url(images/bg-mobile.jpg);
    height: 1000px;
}
p {
    color: white;
}
.header-money {
    font-size: 24px;
}
.header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}
.figure-money {
    display: flex;

}
.header-nickname {
    font-size: 24px;
}
.hero {
    margin-top: 2em;
    text-align: center;
}
.play-menu {
    margin-top: 4em;
}
.play-rectangle {
    background-color: rgb(68, 68, 68);
    width: 340px;
    height: 128px;
    margin: auto;
    border-radius: 25px;
}
.squares {
    padding-top: 1.5em;
    display: flex;
    justify-content: space-around;
}
.main-menu {
    margin-top: 4em;
}
.main-rectangle {
    background-color: rgb(255, 0, 0);
    width: 250px;
    height: 75px;
    margin: auto;
    border-radius: 25px;
}
.play-square-1 {
    background-color: black;
    width: 80px;
    height: 80px;
    border-radius: 25px;
    opacity: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-squares {
    padding-top: 1em;
    display: flex;
    justify-content: space-around;
}
.main-square-1 {
    background-color: black;
    width: 40px;
    height: 40px;
    border-radius: 15px;
    opacity: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tasks {

}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

.vamp-img.animate {
    animation: bounce 1s;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}
.play-square-1 img {
    transition: opacity 0.3s ease;
}
.play-square-1.disabled img {
    opacity: 0.5;
}
.play-square-1 {
    position: relative;
}
.play-square-1 p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    color: white;
    font-weight: bold;
    display: none;
}
.play-square-1.disabled p {
    display: block;
}